body{
margin:200px 600px;
border: 4px solid rgb(86, 5, 5) ;
padding: 50px 100px;
}


#image{
	margin-top: 100px;
	box-shadow: 5px 5px 5px 5px gray;

	width: 60px;;
	padding: 20px;
	font-weight: 600;
	padding-bottom: 0px;
	height: 40px;
	user-select: none;
	text-decoration:line-through;
	font-style: italic;
	font-size: x-large;
	border: rgb(59, 4, 4) 2px solid;
	margin-left: 10px;
	
}
#user-input{
	box-shadow: 5px 5px 5px 5px gray;
	width:auto;
	margin-right: 10px;
	padding: 10px;
	padding-bottom: 0px;
	height: 50px;
	border: rgb(59, 4, 4) 0px solid;
}
input{
	border:2pxrgb(62, 34, 34)k solid;
}
.inline{
	display:inline-block;
}
#btn{
	box-shadow: 5px 5px 5px rgb(246, 246, 246);
	color: rgb(32, 13, 13);
	margin: 20px;
	background-color: rgb(209, 59, 59);
	
}
